site_name: AIMS Factory
site_url: https://pierilab.github.io/AIMS-Factory/
repo_url: https://github.com/PieriLab/AIMS-Factory
repo_name: PieriLab/AIMS-Factory

theme:
  name: material
  palette:
    - scheme: default
      primary: purple
      accent: deep purple
  features:
    - navigation.sections
    - navigation.instant
    - navigation.top
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md
  - Workflows:
      - AIMD:
          - Overview: workflows/aimd/overview.md
          - Molecular Dynamics (MD): workflows/aimd/md.md
          - Optimization (Opt): workflows/aimd/opt.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - codehilite
  - footnotes
  - meta

plugins:
  - search

